/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) {


    :root {
        --white : #f9f9f9;
        --black : #36383F;
        --grey : #85888C;
        --blue : #006DBB;
        --red : #1A3008;
        --brightred : #8fa37e;
        --orange : #FFDAA1;
        }
        h1, h2, h3, h4, h5, h6 {
        text-transform : uppercase;
        text-align : center;
        margin : 0;
        padding : 0;
        display : block;
        }
        h1 {
        font-size : 60px;
        letter-spacing: 2px;
        }
        h2 {
        margin-top: 25px;
        font-size : 36px;
        letter-spacing: 2px;
        }
        h3 {
        font-size : 22px;
        letter-spacing: 2px;
        }
        p, span {
        margin : 0;
        padding : 0;
        letter-spacing: 2px;
        line-height: 26px;
        }
        * {
        margin : 0;
        padding : 0;
        box-sizing : border-box;
        }
        body {
        width : 100%;
        margin : 0 auto;
        padding : 0;
        background-color : white;
        font-family : "Mulish", sans-serif;
        }
        .header_desktop {
        display : flex;
        top : 0;
        z-index : 1000;
        position : sticky;
        background-color : #1a3008;
        height : 170px;
        }
        .header_desktop img {
        width : auto;
        height : 170px;
        }
        .header_desktop .forLogo {
        width : 30%;
        justify-content : center;
        align-self : center;
        }
        .header_desktop .forNav {
        width: calc(100vw - 360px);
        height : auto;
        align-self : center;
        }
        .header_desktop nav {
        justify-content : space-around;
        text-align : center;
        align-items : center;
        display : flex;
        margin : 0 auto;
        justify-self : normal;
        height : 100%;
        }
        .header_desktop ul {
        justify-content : center;
        height : 100%;
        padding : 0;
        display : flex;
        justify-items : center;
        }
        .header_desktop ul li {
        align-self : center;
        justify-content : center;
        height : auto;
        display : inline;
        padding : 5px;
        }
        .header_desktop a {
        letter-spacing: 2px;
        margin : 0;
        border-radius : 5px;
        background : #56dc1463;
        color : #fff;
        display : block;
        padding : 15px;
        text-decoration : none;
        }
        .header_desktop a:hover {
        background-color : white;
        color : black;
        display : block;
        }
        .hamburger {
        width : 10%;
        }
        header img {
        width : 70px;
        height : 70px;
        }
        .header_mobile a {
        text-transform : uppercase;
        color : black;
        text-decoration : none;
        }
        .header_mobile ul {
        padding : 0;
        position : relative;
        margin : 0 auto;
        list-style : none;
        width : 100%;
        top : 5%;
        text-align : center;
        }
        .header_mobile li {
        line-height : 2.5em;
        width : 100%;
        }
        .header_mobile li:hover {
        background-color : white;
        }
        .header_mobile .nav {
        left : 0;
        width : 100%;
        height : 100%;
        position : fixed;
        background-color : #8fa37e;
        overflow : hidden;
        }
        .ac_header_mobile .nav {
        width : 100%;
        height : 100%;
        position : fixed;
        background-color : black;
        overflow : hidden;
        }
        .ac_header_mobile a {
        text-transform : uppercase;
        color : yellow;
        text-decoration : none;
        }
        .ac_header_mobile li:hover {
        color : black;
        background-color : rgb(255, 0, 0);
        }
        .ac_header_mobile {
        justify-content : center;
        align-self : center;
        height : 99px;
        z-index : 100;
        background-color : black;
        box-shadow : 1px 1px 5px 0 #85888C;
        position : sticky;
        top : 0;
        width : 100%;
        }
        .header_mobile {
        display : none;
        justify-content : center;
        align-self : center;
        height : 99px;
        z-index : 100;
        background-color : #1A3008;
        box-shadow : 1px 1px 5px 0 #85888C;
        position : sticky;
        top : 0;
        width : 100%;
        }
        .ac_header_mobile .hamb-line {
        background-color : yellow;
        display : block;
        height : 2px;
        position : relative;
        width : 24px;
        }
        .ac_header_mobile.hamb-line::before, .ac_header_mobile .hamb-line::after {
        background-color : yellow;
        content : '';
        display : block;
        height : 100%;
        position : absolute;
        transition : all 0.2s ease-out;
        width : 100%;
        }
        .menu a {
        display : block;
        padding : 30px;
        color : var(--white);
        }
        .menu a:hover {
        background-color : #85888C;
        }
        .nav {
        max-height : 0;
        transition : max-height 0.5s ease-out;
        }
        .hamb {
        justify-content : center;
        display : flex;
        align-items : center;
        align-self : center;
        height : 100px;
        }
        .hamb-line {
        background : #f9f9f9;
        display : block;
        height : 2px;
        position : relative;
        width : 24px;
        }
        .hamb-line::before, .hamb-line::after {
        background : #f9f9f9;
        content : '';
        display : block;
        height : 100%;
        position : absolute;
        transition : all 0.2s ease-out;
        width : 100%;
        }
        .hamb-line::before {
        top : 5px;
        }
        .hamb-line::after {
        top : -5px;
        }
        .side-menu {
        display : none;
        }
        .side-menu:checked ~ nav {
        max-height : 100%;
        }
        .side-menu:checked ~ .hamb .hamb-line {
        background : transparent;
        }
        .side-menu:checked ~ .hamb .hamb-line::before {
        transform : rotate(-45deg);
        top : 0;
        }
        .side-menu:checked ~ .hamb .hamb-line::after {
        transform : rotate(45deg);
        top : 0;
        }
        .logo {
        margin : 0 auto;
        display : flex;
        flex-direction : column;
        width : 0%;
        align-self : center;
        }
        .logo img {
        width : 45px;
        height : 45px;
        }
        main {
        height : auto;
        /* overflow : auto; */
        }
        .section_fixed_image {
        background-image : url(../images/wood.jpg);
        background-attachment : fixed;
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        height : 240px;
        }
        .kontakt_map {
        background-image : url(../images/map.png);
        background-position : center;
        background-repeat : no-repeat;
        background-size : cover;
        height : 390px;
        }
        .section_news {
        width : 70%;
        flex-wrap : wrap;
        display : flex;
        height : auto;
        margin : 0 auto;
        }
        .article_news {
        flex : 40%;
        width : 70%;
        display : flex;
        margin : 0 auto;
        }
        .contacting_content {
        width : 50%;
        margin : 0 auto;
        margin-top : 25px;
        margin-bottom : 50px;
        }
        .contacting_field {
        display : flex;
        }
        .contacting_field article {
        padding : 5px;
        width : 50%;
        }
        .contacting_field input[type="text"] {
        width : 100%;
        }
        .contacting_field2 input[type="text"] {
        width : 100%;
        }
        .contacting_field2 {
        display : flex;
        }
        .contacting_field2 article {
        padding : 5px;
        width : 50%;
        }
        .section_news {
        padding:25px;
        flex-wrap : wrap;
        display : flex;
        height : auto;
        }
        .section_news h2 {
        letter-spacing: 2px;
        margin-top:25px;
        margin-bottom:25px;
        display : block;
        width : 100%;
        }
        .section_news img {
        width : 100%;
        }
        .section_banner {
        background-repeat : no-repeat;
        background-size : cover;
        background-image : url(../images/FINAL_GUBBAR.png);
        width : 100%;
        height : 650px;
        }
        .nyheter_banner h1 {
        color : white;
        }
        .aboutus_banner h1 {
        color : white;
        }
        .kontakt_banner h1 {
        color : white;
        }
        .nyheter_banner {
        background-repeat : no-repeat;
        background-size : cover;
        background-image : url(../images/huvudbild.jpg);
        background-position : 50% 50%;
        width : 100%;
        height : 250px;
        justify-content : center;
        display : flex;
        align-content : center;
        align-items : center;
        }
        .kontakt_banner {
        background-repeat : no-repeat;
        background-size : cover;
        background-image : url(../images/wood.jpg);
        background-position : 50% 50%;
        width : 100%;
        height : 250px;
        justify-content : center;
        display : flex;
        align-content : center;
        align-items : center;
        }
        .aboutus_banner {
        justify-content : center;
        display : flex;
        background-repeat : no-repeat;
        background-size : cover;
        background-image : url(../images/aboutus.jpg);
        background-position : 50% 50%;
        width : 100%;
        height : 250px;
        align-content : center;
        align-items : center;
        }
        .banner_offert {
        letter-spacing: 2px;
        width : 320px;
        display : flex;
        background-color : #74A82A;
        border : white solid 2px;
        color : white;
        padding : 5px;
        position : relative;
        top : 500px;
        margin : 0 auto;
        height : 60px;
        align-items : center;
        align-self : center;
        align-content : center;
        justify-content : center;
        justify-items : center;
        justify-self : center;
        text-align : center;
        }
        .section_presensation {
        background-color : #FFDAA1;
        width : 100%;
        height : auto;
        padding : 25px;
        }

        .section_presensation h1 {
        margin-top: 25px;
        margin-bottom:25px;
        letter-spacing: 2px;
        }
             
        .section_presensation h2 {
        margin-top: 25px;
        font-size: 36px;
        letter-spacing: 2px;
        }
        .section_presensation span {
        line-height: 35px;
        letter-spacing: 2px;
        padding : 10px;
        display : block;
        width : 70%;
        margin : 25px auto 26px auto;
        }
        footer {
        padding : 10px;
        height : auto;
        background-color : #1A3008;
        }
        .footer_cert {
        width : 100%;
        display : flex;
        justify-content : center;
        column-gap : 5px;
        padding : 20px;
        border-bottom : 1px solid #5F5F5F;
        margin : 0 auto;
        }
        .footer_cert img {
        width : auto;
        height : 125px;
        }
        .footer_companyname {
        padding : 10px;
        border-bottom : 1px solid #5F5F5F;
        text-align : center;
        color : white;
        }
        .footer_address {
        justify-content : center;
        display : grid;
        padding : 10px;
        border-bottom : 1px solid #5F5F5F;
        }
        .footer_address aside {
        width : auto;
        padding : 5px;
        }
        .footer_address aside img {
        margin : 0 auto;
        display : block;
        width : 20px;
        }
        .footer_address aside span {
        font-size : 12px;
        display : block;
        text-align : center;
        color : white;
        }
        .footer_address aside span a {
        text-decoration : none;
        color : white;
        font-size : 12px;
        }
        .footer_links {
        text-align : center;
        justify-self : center;
        align-content : center;
        justify-content : center;
        display : flex;
        font-size : 12px;
        margin : 0 auto;
        padding : 10px;
        }
        .footer_mail a {
        text-decoration : none;
        color : white;
        font-size : 12px;
        }
        .footer_links ul li {
        color : white;
        display : inline;
        padding : 5px;
        }
        .footer_links ul li a {
        letter-spacing: 2px;
        color : white;
        text-decoration : none;
        }
        .socialmedias {
        position : relative;
        left : 0;
        bottom : 0;
        height : 50px;
        padding : 10px;
        display : flex;
        width : 100%;
        }
        .socialmedias_lt {
        width : 15%;
        float : left;
        }
        .socialmedias span {
        font-weight : 900;
        color : #77b446;
        font-size : 10px;
        }
        .socialmedias_rt {
        width : 100%;
        display : flex;
        column-gap : 2%;
        }
        .socialmedias_rt img {
        width : 22px;
        }
        .socialmedias_rt aside {
        align-self : center;
        }
        .section_contacting {
        padding : 10px;
        position : relative;
        background-color : #FFDAA1;
        height : auto;
        width : 100%;
        }
        .section_contacting label {
            letter-spacing: 2px;
        }
        .section_contacting input {
        height : 40px;
        width : 100%;
        display : block;
        }
        .section_contacting input[type="textarea"] {
        height : 80px;
        }
        .section_contacting input[type="submit"] {
        letter-spacing: 2px;
        margin-top : 40px;
        background-color : #74A82A;
        color : white;
        text-transform : uppercase;
        border : white solid 2px;
        }
        .services_desktop {
        height : 450px;
        width : 70%;
        margin : 0 auto;
        display : flex;
        column-gap : 40px;
        }
        .service_desktop_content {
        display : flex;
        width : 70%;
        margin : 0 auto;
        }
        .service_desktop_content .forRut {
        width : 40%;
        }
        .service_desktop_content .forRutAvdragTxt {
        padding : 50px;
        display : grid;
        }
        .section_services {
        padding:20px;
        background-color : #FFDAA1;
        clear : both;
        width : 100%;
        }
        .section_services h2 {
        margin-top:25px;
        margin-bottom:25px;
        }
        .section_services h3 {
        padding : 10px;
        position : relative;
        align-content : center;
        top : 370px;
        color : white;
        font-size : 26px;
        background-color : #56dc1463;
        height : 50px;
        }
        .section_services article p {
        padding : 10px;
        }
        .section_services aside {
        align-content : center;
        align-self : center;
        justify-content : center;
        display : flex;
        margin-bottom : 10px;
        }
        .tjanst1 {
        background-image : url(../images/service_avverkning.jpg);
        background-repeat : no-repeat;
        width : 100%;
        height : 400px;
        background-size : cover;
        background-position : 50% 70%;
        }
        .tjanst2 {
        background-image : url(../images/service_stubbfrasning.jpg);
        background-repeat : no-repeat;
        width : 100%;
        height : 400px;
        background-size : cover;
        background-position : center;
        }
        .tjanst3 {
        background-image : url(../images/tjanster2.jpg);
        background-repeat : no-repeat;
        width : 100%;
        height : 400px;
        background-size : cover;
        background-position : 50% 70%;
        }
        .section_services img {
        background-repeat : no-repeat;
        width : 100%;
        height : auto;
        background-size : cover;
        }
        .lt_news {
        padding : 10px;
        width : 50%;
        float : left;
        }
        .rt_news {
        padding : 10px;
        width : 50%;
        float : left;
        }
        .desktop_news {
        justify-content : center;
        column-gap : 5%;
        width : 55%;
        display : flex;
        flex-wrap : wrap;
        margin : 0 auto;
        margin-top : 50px;
        margin-bottom : 50px;
        }
        .news_column {
        justify-content : space-around;
        flex : 0 0 35%;
        background-color : #f9f9f9;
        width : 90%;
        margin-top : 20px;
        box-shadow : 3px 3px 20px 0 rgb(0, 0, 0, 0.40);
        }
        .news_column h3 {
        margin-bottom : 10px;
        padding : 5px;
        font-size : 17px;
        }
        .news_column aside {
        margin : 0;
        padding : 0;
        box-sizing : content-box;
        }
        .news_column img {
        display : block;
        margin-left : auto;
        margin-right : auto;
        width : 50%;
        align-self : center;
        text-align : center;
        width : 100%;
        justify-self : center;
        height : 250px;
        }
        .news_column .news_content {
        padding : 10px;
        }
        .news_column .news_date {
        display : flex;
        width : 100%;
        padding : 10px;
        font-size : 12px;
        font-weight : bold;
        }
        .news_column .news_date aside {
        width : 45%;
        padding : 10px;
        font-size : 12px;
        font-weight : bold;
        }
        .news_column .news_date aside > a {
        margin-right : 10px;
        float : right;
        justify-self : end;
        justify-items : end;
        padding : 10px;
        font-size : 12px;
        font-weight : bold;
        }
        .section_aboutus {
        height : auto;
        background-color : #FFDAA1;
        width : 100%;
        padding : 25px;
        }
        .section_aboutus h2 {
        margin-top:25px;
        margin-bottom:25px;
        letter-spacing: 2px;

        }
        .aboutus_content {
        line-height: 26px;
        letter-spacing: 2px;
        column-gap : 2%;
        display : flex;
        flex-wrap : wrap;
        width : 70%;
        margin : 20px auto 0 auto;
        justify-content : center;
        padding : 10px;
        }
        .aboutus_column {
        flex : 0 0 30%;
        }
        .aboutus_column img {
        display : block;
        margin-left : auto;
        margin-right : auto;
        width : 50%;
        align-self : center;
        text-align : center;
        width : 90%;
        justify-self : center;
        height : 250px;
        }
        .aboutus_content h3 {
        padding : 10px;
        }
        .aboutus_column .aboutus_content {
        background-color : white;
        margin : 0 auto;
        width : 100%;
        padding : 10px;
        }
        .aboutus_ad {
        display : grid;
        background-repeat : no-repeat;
        background-size : cover;
        background-image : url(../images/aboutus_banner.jpg);
        background-position : 0 20%;
        width : 100%;
        height : 688px;
        }
        .aboutus_ad h2 {
        letter-spacing: 2px;
        width : 890px;
        text-shadow : 6px 2px 0 black;
        background-color : #56dc1463;
        color : white;
        font-size : 60px;
        align-self : self-end;
        justify-self : center;
        }
        .aboutus_ad h2 br {
        display : none;
        }
        .aboutus_ad span {
        line-height: 36px;
        letter-spacing: 2px;
        align-content : center;
        font-weight : bold;
        width : 464px;
        color : white;
        font-size : 30px;
        align-self : center;
        justify-self : right;
        margin-right : 48px;
        }
        .aboutus_ad button {
        letter-spacing: 2px;
        align-self : center;
        border : white solid 3px;
        color : white;
        background-color : #74A82A;
        width : auto;
        padding : 10px;
        font-size : 18px;
        justify-self : center;
        }
        .company_history {
        display : flex;
        height : 465px;
        align-items : center;
        justify-content : center;
        }
        .company_history img {
        width : 325px;
        }





  }